* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.boxFormulario {
    background-color: #FFF;
    overflow: hidden;
    min-height: 70vh;
    margin: 30px;
    border-radius: 12px;
}

.infos {
    margin-left: 20px;
}

.infos > h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.infos > p {
    color: grey;
}

.forms {
    margin-left: 50px;
    font-weight: bold;
    display: flex;
    padding: 10px;
    justify-content: left;
    align-items: center;
}

.formInput {
    float: right;
    height: 30px;
    width: 80vh;
    margin-left: 70vh;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid lightgray;
    vertical-align: middle;
}

.btnsGroups {
    float: right;
    margin-top: 10vh;
}

.btnLimpar, .btnCadastrar {
    border: none;
    padding: 10px;
    color: #FFF;
}

.btnLimpar {
    background: #f5b049;
}

.btnCadastrar {
    background: #017aff;
}